.linedown {
  position: relative;
  padding-bottom: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    transform: translateY(-50%);
    width: 65px;
    height: 2px;
    background-color: $primary;
    transition: width 0.3s ease-in-out;
  }
}
