$primary: #005C65;
$primaryHover: #00383e;
$primaryLight: #e1f0ee;
$primaryMedium: #c1e1dd;
$secondary: #9deab2;
$white: #fff;
$black: #212529;
$darkBlue: #07304f;
$bgLight: #f8f9f9;
$sparkGreen: #33c375;
